<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      Cambio de Contraseña
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <form [formGroup]="cambioContrasenaForm">
      
      <ion-list>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="eamil" formControlName="email" readonly></ion-input>
      </ion-list>

      <ion-list>
        <ion-label class="prompt-text" position="stacked">Nueva contraseña</ion-label><br />

        <ion-row>
          <ion-input [type]="hide ? 'password' : 'text'" placeholder="Ingrese su nueva contraseña" formControlName="nuevaContrasena" min="6"
            maxlength="10">
          </ion-input>
          <button class="end" (click)="hide = !hide" class="btn_eye_icon">
            <ion-icon [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </button>

          <small *ngIf="cambioContrasenaForm.get('nuevaContrasena')?.dirty || cambioContrasenaForm.get('nuevaContrasena')?.touched">
            <ion-note color="danger" slot="error" *ngIf="cambioContrasenaForm.get('nuevaContrasena')?.errors?.['required']">
              La Contraseña es requerido.
            </ion-note>
          </small>
        </ion-row>
      </ion-list>

      <ion-list>
        <ion-label class="prompt-text" position="stacked">Confirmar Nueva Contraseña</ion-label><br />
        <ion-row>
          <ion-input [type]="hideConf ? 'password' : 'text'" placeholder="confirmar nueva contraseña" formControlName="confirmar" min="6"
            maxlength="10">
          </ion-input>
          <button class="end" (click)="hideConf = !hideConf" class="btn_eye_icon">
            <ion-icon [name]="hideConf ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </button>

          <small *ngIf="cambioContrasenaForm.get('confirmar')?.dirty || cambioContrasenaForm.get('confirmar')?.touched">
            <ion-note color="danger" slot="error" *ngIf="cambioContrasenaForm.get('confirmar')?.errors?.['required']">
              La Contraseña de confirmación es requerido.
            </ion-note>
         </small>

        </ion-row>
      
      </ion-list>
   
    </form>
    
    <ion-button type="button" (click)="update()" [disabled]="cambioContrasenaForm.invalid">Actualizar Contraseña</ion-button>
  </ion-card-content>
</ion-content>