<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      Cambio de Contraseña
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-card-content>
    <form [formGroup]="cambioContrasenaForm">
      
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="eamil" formControlName="email" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input [type]="hide ? 'password' : 'text'" formControlName="nuevaContrasena"></ion-input>
        <button (click)="hide = !hide" item-end class="btn_eye_icon">
          <ion-icon slot="end" [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
        <ng-container *ngIf="cambioContrasenaForm.get('nuevaContrasena')?.dirty || cambioContrasenaForm.get('nuevaContrasena')?.touched">
          <ion-note slot="error" *ngIf="cambioContrasenaForm.get('nuevaContrasena')?.errors?.['required']">
            La Contraseña es requerido.
          </ion-note>
          <ion-note slot="error" *ngIf="cambioContrasenaForm.controls['nuevaContrasena'].errors?.['minlength']">
            La contraseña debe tener 6 caracteres.
          </ion-note>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
        <ion-input [type]="hideConf ? 'password' : 'text'" formControlName="confirmar"></ion-input>
        <button (click)="hideConf = !hideConf" item-end class="btn_eye_icon">
          <ion-icon slot="end" [name]="hideConf ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
        <ng-container *ngIf="cambioContrasenaForm.get('confirmar')?.dirty || cambioContrasenaForm.get('confirmar')?.touched">
          <ion-note slot="error" *ngIf="cambioContrasenaForm.get('confirmar')?.errors?.['required']">
            La Contraseña es requerido.
          </ion-note>
          <ion-note slot="error" *ngIf="cambioContrasenaForm.controls['confirmar'].errors?.['minlength']">
            La contraseña debe tener 6 caracteres.
          </ion-note>
        </ng-container>
      </ion-item>
    </form>
    
    <ion-button style="margin-top: 12px;" expand="block" fill="outline" class="main-button" type="button" (click)="update()" [disabled]="cambioContrasenaForm.invalid">Actualizar Contraseña</ion-button>
  </ion-card-content>
</ion-content>





