<!-- <ion-content class="ion-padding container">

  <ion-card class="container">
    <img src="assets/img/bg-biometrico.jpg" />

    <ion-card-content>
      <form  [formGroup]="formLogin">
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input> 
          <ion-note slot="error" *ngIf="formLogin.get('email')?.errors?.['required'] && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)">
            El correo es requerido.
          </ion-note>
          <ion-note slot="error" *ngIf="(formLogin.get('email')?.errors?.['email'] || formLogin.get('email')?.errors?.['pattern'] ) && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)">
            El correo no es válido.
          </ion-note>
        </ion-item>
    
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="formLogin.get('password')?.errors?.['required'] && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
            La contraseña es requerido.
          </ion-note>

          <ion-note slot="error" *ngIf="formLogin.get('password')?.errors?.['minLength'] && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
            La contraseña debe tener 6 caracteres.
          </ion-note>
        </ion-item>
      </form>

      <ion-button class="center" type="button" fill="outline" size="small" expand="block" [disabled]="formLogin.invalid" (click)="login()">Iniciar Sesion</ion-button>
      <ion-button class="center" type="button" fill="outline" size="small" expand="block" color="warning" (click)="crearCuenta()" >Crear Cuenta</ion-button>
     
    </ion-card-content>
  </ion-card>

</ion-content>

 -->

 <ion-content>
   <ion-card>
     <div class="center">
       <img src="assets/img/bg-biometrico.jpg" width="500" height="200" />
     </div>
   
     <ion-card-content class="ion-padding">
       <div class="ion-padding container">
   
         <div class="form-container">
           <form [formGroup]="formLogin">
              <!-- <ion-input style="margin-top: 3px;" type="email" label="Email" label-placement="floating" 
                        fill="outline" placeholder="Ingrese su email" formControlName="email">
              </ion-input>
              <small *ngIf="formLogin.get('email')?.dirty || formLogin.get('email')?.touched">
                <ion-note color="danger" *ngIf="formLogin.get('email')?.errors?.['required']">
                  El correo es requerido.
                </ion-note>
                <ion-note color="danger" *ngIf="formLogin.get('email')?.errors?.['pattern']">
                  El correo no es válido.
                </ion-note>
              </small> -->

              <ion-item>
                <ion-label  position="floating">Email</ion-label>
                <ion-input type="text" placeholder="Ingrese su email" formControlName="email"></ion-input>
                <ng-container *ngIf="formLogin.get('email')?.dirty || formLogin.get('email')?.touched">
                  <ion-note slot="error" *ngIf="formLogin.get('email')?.errors?.['required']">
                    El correo es requerido.
                  </ion-note>
                  <ion-note slot="error" *ngIf="formLogin.controls['email'].errors?.['pattern']">
                    El correo no es válido.
                  </ion-note>
                </ng-container>
              </ion-item>

              <ion-item>
                <ion-label  position="floating">Contraseña</ion-label>
                <ion-input [type]="hide ? 'password' : 'text'"  formControlName="password"></ion-input>
                <button (click)="hide = !hide" item-end  class="btn_eye_icon" >
                    <ion-icon slot="end"  [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </button>
                <ng-container *ngIf="formLogin.get('password')?.dirty || formLogin.get('password')?.touched">
                  <ion-note slot="error" *ngIf="formLogin.get('password')?.errors?.['required']">
                    La Contraseña es requerido.
                  </ion-note>
                  <ion-note slot="error" *ngIf="formLogin.controls['password'].errors?.['minlength']">
                    La contraseña debe tener 6 caracteres.
                  </ion-note>
                </ng-container>
              </ion-item>
           </form>
   
           <ion-button expand="block" fill="outline" class="main-button" [disabled]="formLogin.invalid" (click)="login()">Iniciar Sesion</ion-button>
   
           <div class="sign-up">
             ¿No tienes una cuenta?
             <ion-button color="dark" fill="clear" routerLink="/registro" routerDirection="forward"> 
               Crear Cuenta
             </ion-button>
           </div>
         </div>
       </div>
     </ion-card-content>
   </ion-card>
 </ion-content>

 