<ion-header>
  <ion-toolbar color="secondary">
    <ion-title><ion-label>Datos Personales del Trabajador </ion-label></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label floating >Cedula:</ion-label>
    <ion-input type="text" placeholder="Ingrese cedula" name="cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Nombres:</ion-label>
    <ion-input type="text" placeholder="Ingrese nombres" name="nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Apellidos:</ion-label>
    <ion-input type="text" placeholder="Ingrese apellidos" name="apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Direccion:</ion-label>
    <ion-input type="text" placeholder="Ingrese direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Edad:</ion-label>
    <ion-input type="text" placeholder="Ingrese edad" name="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Email:</ion-label>
    <ion-input type="text" placeholder="Ingrese email" name="email"></ion-input>
    </ion-item>

  </ion-list>
  
  <ion-button expand="block" shape="round">
    Guardar
  </ion-button>

</ion-content>

