<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Registro de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label floating >Cedula:</ion-label>
    <ion-input type="text" placeholder="Ingrese cedula" name="cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Nombres:</ion-label>
    <ion-input type="text" placeholder="Ingrese nombres" name="nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Escoja Jefe:" floating placeholder="Jefes">
        <ion-select-option value="jefe1">Mario Tomala</ion-select-option>
        <ion-select-option value="jefe2">Jose Felix</ion-select-option>
        <ion-select-option value="jefe3">Vicente Sosa</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Fecha:</ion-label>
      <ion-input type="text" placeholder="01-01-2023" name="fecha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-justify-content-center">Geolocalizacion</ion-label>
    </ion-item>
   
    <ion-item>
      <ion-label floating >Latitud:</ion-label>
      <ion-input type="number" placeholder="0° 15′ 00″" name="fecha"></ion-input>
    
    </ion-item>
    <ion-item>
      <ion-label floating>Longitud:</ion-label>
      <ion-input type="text" placeholder="40 000 km"></ion-input>
    
    </ion-item>
  
    <ion-item>
      <ion-select label="Tipo de Asistencia:" floating placeholder="Tipos">
        <ion-select-option value="recFac">Rec Facial</ion-select-option>
        <ion-select-option value="huella">Huella Digital</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>
  <ion-button class="ion-justify-content-center" expand="block" shape="round">
    Guardar
  </ion-button>
</ion-content>
