<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>

		<ion-title>Mi Home</ion-title>

		<ion-buttons slot="primary">
			<ion-button size="small" (click)="salir()">
			  <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
			</ion-button>
		  </ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding id="myPage">
	<ion-header class="ion-no-border">
	<ion-toolbar color="primary" >    
	  <br>
	  <div align="center"><ion-label><h1> &nbsp; &nbsp;SISTEMA DE CONTROL ASISTENCIA </h1></ion-label> </div><br>
	   
	   <ion-label></ion-label> <br>
	</ion-toolbar>
  
  </ion-header>
  <ion-grid fixed>
	<ion-row>
	  <ion-col size="6">
		<ion-card class="colorcard"  color="light" mode="ios" style="height: 150px;"> 
		  <br>
			<div align="center">
				<img src="/assets/img/user.png" class="mediana" alt=""/>
			</div>
			<div align="center" style="height: 100px;">
			   <ion-card-content text-center mode="md" class="let">
				  <ion-card-title>
					Usuario
				   </ion-card-title>
				</ion-card-content>
			  </div>
			</ion-card>
	  </ion-col>
	  <ion-col size="6">
		<ion-card class="colorcard"  color="light" mode="ios" style="height: 150px; cursor: pointer" (click)="irRegistro()"> 
		  <br>
			<div align="center">
			<img src="assets/img/f.png" class="" alt=""/></div>
			<div align="center" style="height: 100px">
			  <ion-card-content text-center mode="md">
				<ion-card-title>
				  Registro
				</ion-card-title>
			  </ion-card-content></div>
			</ion-card>
	  </ion-col>
	</ion-row>
  
	<ion-row>
	  <ion-col size="6">
		<ion-card class="colorcard"  color="light" mode="ios" style="height: 150px"> 
		  <br>
			<div align="center">
			<img src="assets/img/ruta.png"/></div>
			<div align="center" style="height: 100px">
			  <ion-card-content text-center mode="md">
				<ion-card-title>
				  Rutas
				</ion-card-title>
			  </ion-card-content>
		  </div>
			</ion-card>
	  </ion-col>
	  <ion-col size="6">
		<ion-card class="colorcard"  color="light" mode="ios" style="height: 150px"  (click)="irReporte()"> 
		  <br>
			<div align="center">
			<img src="assets/img/reporte.png"/></div>
			<div align="center" style="height: 100px">
			  <ion-card-content text-center mode="md">
				<ion-card-title>
				  Reporte
				</ion-card-title>
			  </ion-card-content>
		  </div>
			</ion-card>
	  </ion-col>
	</ion-row>
	<ion-row>
	  <ion-col size="12">
		<ion-item button detail="true" mode="ios" detail-icon="caret-forward-outline" class="colorcard"  color="light" button>
		  <img src="assets/img/localizacion.png" width="100" height="100"/>
			<div align="center" style="height: 100px">
			  <ion-card-content text-center mode="md">
				<h1>Estado Actual</h1>
					<p>Detalles de las rutas del usuario</p>
			  </ion-card-content>
		  </div>
		</ion-item>
	  </ion-col>
	  
	</ion-row>
	<br>
  </ion-grid>
  <ion-grid>
	<div style="text-align:center;padding:1em 0;">
				<iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=America%2FGuayaquil" 
				width="100%" 
				height="90" 
				frameborder="0" 
				seamless>
				</iframe>
	</div>
	<footer class="footer-container color-scheme-dark">
	  <br>
	  <div class="container main-footer">
		<aside class="footer-sidebar widget-area row" role="complementary">
		  <ion-card-content text-center mode="md">
				<p>By using this site, you agree to our Cookie Policy and Privacy Policy</p>
		  </ion-card-content>
		
		</aside>
	  </div>
	</footer>
  </ion-grid>
  </ion-content>